/* Start Google Fonts Montserrat Link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* End Google Fonts Link */

/* Start Global CSS */
body{
    font-family: 'Montserrat', sans-serif;
    color: #a4a4a4;
}
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
.title-border{
    width: 25%;
    height: 2px;
    background: #ed145b;
}
/*End Global CSS  */

/* Start Header Section */
header{
    background: url(../img/background.png) no-repeat top center;
    background-size: cover;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
.navbar-light .navbar-nav .nav-link:focus,
 .navbar-light .navbar-nav .nav-link:hover {
    color: #ed145b;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #ed145b;
}
.banner-content{
    padding: 300px 0;
}
header h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 50px;
    color: #fff;
}
header h1 span{
    font-weight: 700;
}
header .title-border{
    margin: 20px auto;
}
header p{
    color: #d7f7f7;
    padding: 0 160px;
    font-size: 18px;
    text-align: center;
    line-height: 28px; 
    margin: 0 0 40px;
}
.btn-something{
    display: block;
    background: #ed145b;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 8px 40px;
    border-radius: 20px;
    margin: 0 auto;
}
/* End  Header Section */

/* Start About Section */
.about{
    background: #f4f4f4;
    padding: 75px 0;
    position: relative;
}
.about::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/crop-line.png) no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 30px;
}
.about h2{
    font-size: 40px;
    font-weight: 300;
    color: #5a5a5a;
    font-style: italic;
    line-height: 50px;
}
.about .title-border{
    margin: 20px 0;
}
.about p{
    font-size: 16px;
    padding-bottom: 20px;
    margin: 0;
}
.about a{
    text-transform: uppercase;
    color:#ed145b;
    font-weight: 600;
}
.fa-play{
    border: 1px solid #ed145b;
    border-radius: 50%;
    padding: 4px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 16px;
}
.laptop-screen{
    position: relative;
}
.laptop-screen .screen-img{
    position: absolute;
    bottom: -130px;
    left: 0;
    width: 600px;
}
/* Start About Section */
