/* Start Google Fonts Montserrat Link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* End Google Fonts Link */

/* Start Global CSS */
body{
    font-family: 'Montserrat', sans-serif;
    color: #a4a4a4;
}
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
.title-border{
    width: 25%;
    height: 2px;
    background: #ed145b;
}
.mb-50{
    margin-bottom: 50px;
}
/*End Global CSS  */

/* Start Header Section */
header{
    background: url(../img/background.png) no-repeat top center;
    background-size: cover;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
.navbar-light .navbar-nav .nav-link:focus,
 .navbar-light .navbar-nav .nav-link:hover {
    color: #ed145b;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #ed145b;
}
.banner-content{
    padding: 300px 0;
}
header h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 50px;
    color: #fff;
}
header h1 span{
    font-weight: 700;
}
header .title-border{
    margin: 20px auto;
}
header p{
    color: #d7f7f7;
    padding: 0 160px;
    font-size: 18px;
    text-align: center;
    line-height: 28px; 
    margin: 0 0 40px;
}
.btn-something{
    display: block;
    background: #ed145b;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    outline: 0;
    padding: 8px 40px;
    border-radius: 20px;
    margin: 0 auto;
}
/* End  Header Section */

/* Start About Section */
.about{
    background: #f4f4f4;
    padding: 75px 0;
    position: relative;
}
.about::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/crop-line.png) no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 30px;
}
.about h2{
    font-size: 40px;
    font-weight: 300;
    color: #5a5a5a;
    font-style: italic;
    line-height: 50px;
}
.about .title-border{
    margin: 20px 0;
}
.about p{
    font-size: 16px;
    padding-bottom: 20px;
    margin: 0;
}
.about a{
    text-transform: uppercase;
    color:#ed145b;
    font-weight: 600;
}
.fa-play{
    border: 1px solid #ed145b;
    border-radius: 50%;
    padding: 4px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 16px;
}
.laptop-screen{
    position: relative;
}
.laptop-screen .screen-img{
    position: absolute;
    bottom: -130px;
    left: 0;
    width: 600px;
}
/* Start About Section */

/* Start Service Section */
.service{
    padding: 100px 0 75px;
}
.service h2{
    font-size: 40px;
    font-weight: 300;
    color: #5a5a5a;
    font-style: italic;
    text-align: center;
}
.service .title-border{
    margin: 20px auto;
}
.service p{
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    padding: 0 100px;
    margin-bottom: 75px;
}
.service img{
    display: block;
    margin: 0 auto;
}
.service h4{
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
    color: #ed145b;
    font-weight: 600;
}
/* End Service Section */

/* Start Testimonial Section */
.testimonial{
    background: url(../img/background.png) no-repeat top center;
    background-size: cover;
}
.owl-carousel .owl-item img{
    width: 50px;
    display: block;
    margin: 20px auto;
}
.testimonial p{
    font-size: 25px;
    color: #d7d7d7;
    padding: 0 200px;
    text-align: center;
    font-weight: 300;
    font-style: italic;
}
.owl-prev{
    position: absolute;
    left: 0;
    top: 30%;
    color: #fff !important;
    font-size: 60px !important;
}
.owl-next{
    position: absolute;
    right: 0;
    top: 30%;
    color: #fff !important;
    font-size: 60px !important;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #ed145b !important;
}
/* Start Testimonial Section */

/* Start Prizing Section*/
.prizing{
    background: #f4f4f4;
    padding: 75px 0;
}
.prizing h2{
    text-align: center;
    font-size: 40px;
    font-style: italic;
    font-weight: 300;
    color: #5a5a5a;
}
.prizing .title-border{
    margin: 20px auto;
}
.prizing p{
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    padding: 0 100px;
    margin-bottom: 75px;
}
.prizing .prizing-head{
    position: relative;
    background: #5a5a5a;
    padding: 30px;
    transition: .5s ease-in-out; 
}
.prizing .prizing-head h4{
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin: 0;
}
.prizing-head h4 span{
    font-size: 22px;
}
.prizing-head h5{
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    text-transform: lowercase;
}
.prizing-head .btn-top{
    position: absolute;
    bottom: -22px;
    left: 23px;
    color: #5a5a5a;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    background: #f4f4f4;
    border: none;
    outline: 0;
    padding: 8px 55px;
    border-radius: 25px;
}
.prizing-body{
    padding: 40px 30px;
    background: #fff;
}
.prizing-body ul li{
    list-style-type: none;
    line-height: 45px;
    font-size: 18px;
    font-weight: 500;
    color: #8d8d8d;
    text-align: center;
}
.prizing-body .btn-bottom{
    border: none;
    outline: 0;
    padding: 8px 55px;
    background: #ed145b;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}
.prizing-box:hover .prizing-head{
    background: #ed145b;
    cursor: pointer;
}
/* End Prizing Section */

/* Start Additional Section */
.additional{
    padding: 100px 0 50px;
}
.additional h4{
    font-size: 18px;
    text-align: left;
    color: #ed145b;
    font-weight: 600;
    margin-bottom: 15px;
}
.additional p{
    font-size: 16px;
    color: #5a5a5a;
    line-height: 27px;
    margin: 0;
}
/* End Additional Section */

/* Start Join Us Section */
.join{
    background: #ed145b;
    padding: 40px 0;
}
.join h2{
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-top: 5px;
}
.join span{
    font-weight: 600;
}
.join .btn-join{
    border: none;
    outline: none;
    background: #fff;
    color: #ed145b;
    font-size: 18px;
    font-weight: 600;
    padding: 7px 55px;
    border-radius: 50px;
    text-transform: uppercase;
}
/* End Join Us Section */

/* Start News Section */
.news{
    padding: 120px 0 75px ;
}
.news h2{
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    color: #5a5a5a;
    font-style: italic;
    line-height: 50px;
}
.news .title-border{
    margin: 20px auto;
}
.news p{
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    padding: 0 100px;
    margin-bottom: 75px
}
.item-top{
    display: block;
    margin: 0 auto;
    position: relative;
    width: 360px;
    height: 250px;
    overflow: hidden;
}
.img-hover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    background: rgba(237,20,91,1);
    transition: .5s ease-in-out;
}
.item-top:hover .img-hover{
    background: rgba(237,20,91,.9);
    right: 0;
}
.double{
    margin-bottom: 55px;
}
.img-hover ul{
    display: block;
    text-align: center;
    margin-top: 100px;
}
.img-hover ul li{
    list-style-type: none;
}
.img-hover ul li .fa{
    color: #fff;
    font-size: 30px;
}
.item-bottom{
    display: block;
    margin: 0 auto;
    background: #f4f4f4;
    width: 360px;
    padding: 20px;
}
.item-bottom h4{
    font-size: 17px;
    text-align: left;
    color: #5a5a5a;
    margin-bottom: 15px;
}
.item-bottom p{
    font-size: 15px;
    line-height: 28px;
    color: #8a8a8a;
    padding: 0;
    text-align: left;
    margin-bottom: 0;
}
.news h5{
    color: #ed145b;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 30px 0 0;
}
.news i{
    display: block;
    text-align: center;
    font-size: 30px;
    color: #ed145b;
}
/* Start News Section */

/* Start Additional Info 2 */
.additional-info-2{
    background: url(../img/background.png) no-repeat top center;
    background-size: cover;
    padding: 150px;
}
.additional-info-2 h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 50px;
    font-style: italic;
    color: #fff;
}
.additional-info-2 .title-border{
    margin: 20px auto;
}
.additional-info-2 p{
    color: #d7f7f7;
    padding: 0 100px;
    font-size: 18px;
    text-align: center;
    line-height: 28px; 
    margin: 0 0 40px;
}
/* Start Additional Info 2 */

/* Start Download Section */
.download{
    padding: 75px 0;
    background: #f4f4f4;
}
.download h2{
    font-size: 35px;
    font-weight: 300;
    color: #5a5a5a;
    font-style: italic;
    line-height: 50px;
    margin-top: 20px;
}
.download .title-border{
    margin: 20px 0;
}
.download p{
    font-size: 16px;
    padding-bottom: 20px;
    margin: 0;
}
.download .btn-download{
    display: inline;
    margin: 0;
    font-size: 16px;
    padding: 8px 20px;
}
/* Start Download Section */

/* Start Footer Section */
footer{
    background: #2b2b2b;
    padding: 20px;
}
footer p{
    color: #fff;
    font-size: 14px;
}
footer .copy-right{
    padding-top: 20px;
}
footer span{
    color: #ed145b;
    font-size: 25px;
}
footer .second-copy{
    padding-top: 5px;
}
/* Start Footer Section */




