/* Start Google Fonts Montserrat Link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* End Google Fonts Link */

/* Start Global CSS */
body{
    font-family: 'Montserrat', sans-serif;
    color: #a4a4a4;
}
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
/*End Global CSS  */

/* Start Header Section */
header{
    background: url(../img/background.png) no-repeat top center;
    background-size: cover;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
.navbar-light .navbar-nav .nav-link:focus,
 .navbar-light .navbar-nav .nav-link:hover {
    color: #ed145b;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #ed145b;
}
.banner-content{
    padding: 300px 0;
}
header h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 50px;
    color: #fff;
}
header h1 span{
    font-weight: 700;
}
header .title-border{
    width: 21%;
    height: 2px;
    background: #ed145b;
    margin: 20px auto;
}
header p{
    color: #d7f7f7;
    padding: 0 160px;
    font-size: 18px;
    text-align: center;
    line-height: 28px; 
    margin: 0 0 40px;
}
.btn-something{
    display: block;
    background: #ed145b;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 8px 40px;
    border-radius: 20px;
    margin: 0 auto;
}
/* End  Header Section */